.container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(225, 225, 225);
    position: relative; /* Added to make the title's sticky position relative to the container */
  }
  
  .title {
  background-color: rgb(225, 225, 225);
  padding: 20px;
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
  flex-direction: column; /* Added flex-direction */
  justify-content: space-between;
  gap: 1px; /* Added gap property to adjust space between titles */
  position: sticky; /* Added position: sticky */
  top: 10px; /* Added top property to set the distance from the top of the viewport */
  }
  
  .image {
    display: flex;
    align-items: center;
  }
  
  .image img {
    display: block;
    max-width: 60%;
    height: auto;
    margin-left: 200px;
  }
  
.body-container {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 200px;
    height: 100vh; /* Set the height of the container to the viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    }


  .zero{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    display: flex;
    flex-direction: column; /* Added flex-direction */
    justify-content: space-between;
    gap: 1px; /* Added gap property to adjust space between titles */
    position: sticky; /* Added position: sticky */
    top: 20px; /* Added top property to set the distance from the top of the viewport */
  }
  
  .one, .two, .three {
    writing-mode:horizontal-tb;
    width: 400px;
    height: auto;
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(240, 239, 239, 0.104);
    border-color: azure;
  }
  
  .two {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  div {
    display: block;
  }

h1{
    font-family: "Hiragino Kaku Gothic ProN";
    color:rgb(0, 0, 0);
}


h4{
    font-family: "Hiragino Kaku Gothic ProN";
    color:rgb(0, 0, 0);
}




h6{
    display: block;
    color:rgb(94, 94, 94);
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight:lighter;
}
